In [1]:
import os
import json
import pandas as pd
import psycopg2

In [2]:
#agg insurance

path1 = "D:/VS_code/PhonePe/pulse/data/aggregated/insurance/country/india/state/"
agg_insur_list = os.listdir(path1)

columns1 = {'States' : [], "Years" : [], "Quarter" : [], "Transaction_type" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in agg_insur_list:
    cur_states = path1 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            A = json.load(data)

            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1["Transaction_type"].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['States'].append(state)
                columns1['Years'].append(year)
                columns1['Quarter'].append(int(file.strip(".json")))

In [3]:
aggre_insurance = pd.DataFrame(columns1)

In [4]:
aggre_insurance['States'] = aggre_insurance['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_insurance['States'] = aggre_insurance['States'].str.replace('-',' ')
aggre_insurance['States'] = aggre_insurance['States'].str.title()
aggre_insurance['States'] = aggre_insurance['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
aggre_insurance['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [5]:
#aggregated transaction

path2 = "D:/VS_code/PhonePe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path2)

columns2 = {'States' : [], "Years" : [], "Quarter" : [], "Transaction_type" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in agg_trans_list:
    cur_states = path2 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            B = json.load(data)

            for i in B["data"]["transactionData"]:
                name = i["name"]
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns2["Transaction_type"].append(name)
                columns2['Transaction_count'].append(count)
                columns2['Transaction_amount'].append(amount)
                columns2['States'].append(state)
                columns2['Years'].append(year)
                columns2['Quarter'].append(int(file.strip(".json")))

In [6]:
# for i in A["data"]["transactionData"]:
#     name = i["name"]
#     count = i['paymentInstruments'][0]['count']
#     amount = i['paymentInstruments'][0]['amount']
#     columns1["Transaction_type"].append(name)
#     columns1['Transaction_count'].append(count)
#     columns1['Transaction_amount'].append(amount)
#     columns1['States'].append(state)
#     columns1['Years'].append(year)
#     columns1['Quarter'].append(int(file.strip(".json")))

In [7]:
aggre_transaction = pd.DataFrame(columns2)

In [8]:
aggre_transaction['States'] = aggre_transaction['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('-',' ')
aggre_transaction['States'] = aggre_transaction['States'].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
aggre_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [9]:
#aggre_user

path3 = "D:/VS_code/PhonePe/pulse/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path3)

columns3 = {'States' : [], "Years" : [], "Quarter" : [], "Brand" : [], "Transaction_count" : [], "Percentage" : []}

for state in agg_user_list:
    cur_states = path3 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            C = json.load(data)

            try:
                for i in C["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i['count']
                    percentage = i['percentage']
                    columns3["Brand"].append(brand)
                    columns3['Transaction_count'].append(count)
                    columns3['Percentage'].append(percentage)
                    columns3['States'].append(state)
                    columns3['Years'].append(year)
                    columns3['Quarter'].append(int(file.strip(".json")))

            except:
                pass

In [10]:
aggre_user = pd.DataFrame(columns3)

In [11]:
aggre_user['States'] = aggre_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_user['States'] = aggre_user['States'].str.replace('-',' ')
aggre_user['States'] = aggre_user['States'].str.title()
aggre_user['States'] = aggre_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
aggre_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [12]:
# for i in B["data"]["userByDevice"]:
#     brand = i["brand"]
#     count = i['count']
#     percentage = i['percentage']
#     columns2["Brand"].append(brand)
#     columns2['Transaction_count'].append(count)
#     columns2['Percentage'].append(percentage)
#     columns2['States'].append(state)
#     columns2['Years'].append(year)
#     columns2['Quarter'].append(int(file.strip(".json")))

In [13]:
# for state in agg_trans_list:
#     cur_states = path2+state+"/"
#     agg_year_list = os.listdir(cur_states)

#     for year in agg_year_list:
#         cur_year = cur_states + year + "/"
#         agg_file_list = os.listdir(cur_year)

#         for file in agg_file_list:
#             cur_file = cur_year + file
#             data = open(cur_file, 'r')

#             B = json.load(data)
#             print(B)

In [14]:
#map insurance

path4 = "D:/VS_code/PhonePe/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list = os.listdir(path4)

columns4 = {'States' : [], "Years" : [], "Quarter" : [], "Districts" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in map_insur_list:
    cur_states = path4 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            D = json.load(data)
            for i in D['data']['hoverDataList']:
                    name = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns4["Districts"].append(name)
                    columns4['Transaction_count'].append(count)
                    columns4['Transaction_amount'].append(amount)
                    columns4['States'].append(state)
                    columns4['Years'].append(year)
                    columns4['Quarter'].append(int(file.strip(".json")))

In [15]:
map_insurance = pd.DataFrame(columns4)

In [16]:
map_insurance['States'] = map_insurance['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_insurance['States'] = map_insurance['States'].str.replace('-',' ')
map_insurance['States'] = map_insurance['States'].str.title()
map_insurance['States'] = map_insurance['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_insurance['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [17]:
#Map_transation

path5 = "D:/VS_code/PhonePe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path5)

columns5 = {'States' : [], "Years" : [], "Quarter" : [], "Districts" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in map_tran_list:
    cur_states = path5 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            E = json.load(data)
            for i in E['data']['hoverDataList']:
                    name = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns5["Districts"].append(name)
                    columns5['Transaction_count'].append(count)
                    columns5['Transaction_amount'].append(amount)
                    columns5['States'].append(state)
                    columns5['Years'].append(year)
                    columns5['Quarter'].append(int(file.strip(".json")))

In [18]:
# for i in C['data']['hoverDataList']:
#     name = i['name']
#     count = i['metric'][0]['count']
#     amount = i['metric'][0]['amount']

In [19]:
map_transaction = pd.DataFrame(columns5)

In [20]:
map_transaction['States'] = map_transaction['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_transaction['States'] = map_transaction['States'].str.replace('-',' ')
map_transaction['States'] = map_transaction['States'].str.title()
map_transaction['States'] = map_transaction['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [21]:
#map_user

path6 = "D:/VS_code/PhonePe/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path6)

columns6 = {'States' : [], "Years" : [], "Quarter" : [], "Districts" : [], "RegisteredUsers" : [], "AppOpens" : []}

for state in map_user_list:
    cur_states = path6 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            F = json.load(data)

            for i in F['data']['hoverData'].items():
                district = i[0]
                registerUsers = i[1]['registeredUsers']
                appOpens = i[1]['appOpens']
                columns6["Districts"].append(district)
                columns6['RegisteredUsers'].append(registerUsers)
                columns6['AppOpens'].append(appOpens)
                columns6['States'].append(state)
                columns6['Years'].append(year)
                columns6['Quarter'].append(int(file.strip(".json")))

In [22]:
# for i in D['data']['hoverData'].items():
#     district = i[0]
#     registerUsers = i[0]['registerUsres']
#     appOpens = i[1]['appOpens']
#     columns4["Districts"].append(district)
#     columns4['RegisterUsers'].append(registerUsers)
#     columns4['AppOpens'].append(appOpens)
#     columns4['States'].append(state)
#     columns4['Years'].append(year)
#     columns4['Quarter'].append(int(file.strip(".json")))

In [23]:
map_user = pd.DataFrame(columns6)

In [24]:
map_user['States'] = map_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user['States'] = map_user['States'].str.replace('-',' ')
map_user['States'] = map_user['States'].str.title()
map_user['States'] = map_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
map_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [25]:
#top insurance

path7 = "D:/VS_code/PhonePe/pulse/data/top/insurance/country/india/state/"
top_insur_list = os.listdir(path7)

columns7 = {'States' : [], "Years" : [], "Quarter" : [], "Pincodes" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in top_insur_list:
    cur_states = path7 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            G = json.load(data)

            for i in G['data']['pincodes']:
                entityname = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns7["Pincodes"].append(entityname)
                columns7['Transaction_count'].append(count)
                columns7['Transaction_amount'].append(amount)
                columns7['States'].append(state)
                columns7['Years'].append(year)
                columns7['Quarter'].append(int(file.strip(".json")))

In [26]:
top_insurance = pd.DataFrame(columns7)

In [27]:
top_insurance['States'] = top_insurance['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_insurance['States'] = top_insurance['States'].str.replace('-',' ')
top_insurance['States'] = top_insurance['States'].str.title()
top_insurance['States'] = top_insurance['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_insurance['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [28]:
#top Transaction

path8 = "D:/VS_code/PhonePe/pulse/data/top/transaction/country/india/state/"
top_trans_list = os.listdir(path8)

columns8 = {'States' : [], "Years" : [], "Quarter" : [], "Pincodes" : [], "Transaction_count" : [], "Transaction_amount" : []}

for state in top_trans_list:
    cur_states = path8 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            H = json.load(data)

            for i in H['data']['pincodes']:
                entityname = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns8["Pincodes"].append(entityname)
                columns8['Transaction_count'].append(count)
                columns8['Transaction_amount'].append(amount)
                columns8['States'].append(state)
                columns8['Years'].append(year)
                columns8['Quarter'].append(int(file.strip(".json")))

In [29]:
top_transaction = pd.DataFrame(columns8)

In [30]:
top_transaction['States'] = top_transaction['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transaction['States'] = top_transaction['States'].str.replace('-',' ')
top_transaction['States'] = top_transaction['States'].str.title()
top_transaction['States'] = top_transaction['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [31]:
#top User

path9 = "D:/VS_code/PhonePe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path9)

columns9 = {'States' : [], "Years" : [], "Quarter" : [], "Pincodes" : [], "RegisteredUsers" : []}

for state in top_user_list:
    cur_states = path9 + state + "/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')

            I = json.load(data)

            for i in I['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns9["Pincodes"].append(name)
                columns9['RegisteredUsers'].append(registeredUsers)
                columns9['States'].append(state)
                columns9['Years'].append(year)
                columns9['Quarter'].append(int(file.strip(".json")))

In [32]:
top_user = pd.DataFrame(columns9)

In [33]:
top_user['States'] = top_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user['States'] = top_user['States'].str.replace('-',' ')
top_user['States'] = top_user['States'].str.title()
top_user['States'] = top_user['States'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')
top_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [34]:
#Table creation
#SQL connection

mydb = psycopg2.connect(host = 'localhost',
                        user = 'postgres',
                        port = '5432',
                        password = 'NK19',
                        database = 'phonepe_data')
cursor = mydb.cursor()

In [35]:
#Aggre Insurunce Table

create_query1 = '''CREATE TABLE if not exists aggregated_insurance(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Transaction_type varchar(225),
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query1)
mydb.commit()

insert_query1 = '''INSERT INTO aggregated_insurance(States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = aggre_insurance.values.tolist()
cursor.executemany(insert_query1,data)
mydb.commit()

In [59]:
aggre_insurance.columns

Index(['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [36]:
#Aggre Trans table

create_query2 = '''CREATE TABLE if not exists aggregated_transaction(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Transaction_type varchar(225),
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query2)
mydb.commit()

insert_query2 = '''INSERT INTO aggregated_transaction(States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = aggre_transaction.values.tolist()
cursor.executemany(insert_query2, data)
mydb.commit()

In [37]:
aggre_transaction.columns

Index(['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [38]:
#Agger users

create_query3 = '''CREATE TABLE if not exists aggregated_user(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Brand varchar(225),
                                                    Transaction_count bigint,
                                                    Percentage float)'''
cursor.execute(create_query3)
mydb.commit()

insert_query3 = '''INSERT INTO aggregated_user(States, Years, Quarter, Brand, Transaction_count, Percentage)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = aggre_user.values.tolist()
cursor.executemany(insert_query3, data)
mydb.commit()

In [39]:
aggre_user.columns

Index(['States', 'Years', 'Quarter', 'Brand', 'Transaction_count',
       'Percentage'],
      dtype='object')

In [40]:
#Map Insurance table

create_query4 = '''CREATE TABLE if not exists map_insurance(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Districts varchar(225),
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query4)
mydb.commit()

insert_query4 = '''INSERT INTO map_insurance(States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = map_insurance.values.tolist()
cursor.executemany(insert_query4, data)
mydb.commit()

In [57]:
map_insurance.columns

Index(['States', 'Years', 'Quarter', 'Districts', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [42]:
#Map tyrans table

create_query5 = '''CREATE TABLE if not exists map_transaction(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Districts varchar(225),
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

insert_query5 = '''INSERT INTO map_transaction(States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = map_transaction.values.tolist()
cursor.executemany(insert_query5, data)
mydb.commit()

In [52]:
map_transaction.columns

Index(['States', 'Years', 'Quarter', 'Districts', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [44]:
#map user table

create_query6 = '''CREATE TABLE if not exists map_user(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Districts varchar(225),
                                                    RegisteredUsers bigint,
                                                    AppOpens bigint)'''
cursor.execute(create_query6)
mydb.commit()

insert_query6 = '''INSERT INTO map_user(States, Years, Quarter, Districts, RegisteredUsers, AppOpens)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = map_user.values.tolist()
cursor.executemany(insert_query6, data)
mydb.commit()

In [53]:
map_user.columns

Index(['States', 'Years', 'Quarter', 'Districts', 'RegisteredUsers',
       'AppOpens'],
      dtype='object')

In [46]:
#top insurance table

create_query7 = '''CREATE TABLE if not exists top_insurance(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Pincodes int,
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query7)
mydb.commit()

insert_query7 = '''INSERT INTO top_insurance(States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = top_insurance.values.tolist()
cursor.executemany(insert_query7, data)
mydb.commit()

In [54]:
top_insurance.columns

Index(['States', 'Years', 'Quarter', 'Pincodes', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [48]:
#top trans table

create_query8 = '''CREATE TABLE if not exists top_transaction(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Pincodes int,
                                                    Transaction_count bigint,
                                                    Transaction_amount bigint)'''
cursor.execute(create_query8)
mydb.commit()

insert_query8 = '''INSERT INTO top_transaction(States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                
                values(%s,%s,%s,%s,%s,%s)'''

data = top_transaction.values.tolist()
cursor.executemany(insert_query8, data)
mydb.commit()

In [55]:
top_transaction.columns

Index(['States', 'Years', 'Quarter', 'Pincodes', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [50]:
#top user table

create_query9 = '''CREATE TABLE if not exists top_user(States varchar(225),
                                                    Years int,
                                                    Quarter int,
                                                    Pincodes int,
                                                    RegisteredUsers bigint)'''
cursor.execute(create_query9)
mydb.commit()

insert_query9 = '''INSERT INTO top_user(States, Years, Quarter, Pincodes, RegisteredUsers)
                
                values(%s,%s,%s,%s,%s)'''

data = top_user.values.tolist()
cursor.executemany(insert_query9, data)
mydb.commit()

In [56]:
top_user.columns

Index(['States', 'Years', 'Quarter', 'Pincodes', 'RegisteredUsers'], dtype='object')